<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>DEMO REACTJS</title>
    <!-- import libary react from internet or we save lib in client -->
    <script src="lib/react.development.js"></script>
    <script src="lib/react-dom.development.js"></script>
    <!-- Understand JSX set babel-core -->
    <script src="lib/babel.min.js"></script> 
  </head>
  <style>
    .mauxanh{background-color: blue;}
  </style>
  <body>
    <div id="root"></div>
    <!-- What's render and Where's render -->
    <script src="xuly.js" type="text/babel">
    </script>
  </body>
</html>